<header class="bg-red-700 shadow-md font-pixelify">
  <nav class="container mx-auto px-6 py-3 flex justify-between items-center">
    <a routerLink="/" class="flex items-center">
      <img src="assets/logo-2-white.png" alt="V-NES Logo" class="h-10 w-auto mr-3">
    </a>
    <div class="hidden md:flex items-center space-x-4">
      <a routerLink="/" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-lg font-medium">Início</a>
      
      <div *ngIf="!currentUser()">
        <a routerLink="/auth" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-lg font-medium">Login / Registar</a>
      </div>

      <div *ngIf="currentUser()" class="flex items-center space-x-4">
        <a routerLink="/cartridges" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-lg font-medium">Jogos</a>
        <a routerLink="/console" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-lg font-medium">Configurações</a>
        <span class="text-gray-200 text-lg">Olá, {{ currentUser()?.username }}</span>
        <button (click)="logout()" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-lg font-medium">
          Sair
        </button>
      </div>
    </div>
    <div class="md:hidden flex space-x-4 items-center">
      <a routerLink="/" title="Início" class="text-gray-300 hover:text-white p-2">
        <fa-icon [icon]="iconHome" class="h-6 w-6"></fa-icon>
      </a>
      <ng-container *ngIf="!currentUser()">
        <a routerLink="/auth" title="Login/Registar" class="text-gray-300 hover:text-white p-2">
          <fa-icon [icon]="iconLogin" class="h-6 w-6"></fa-icon>
        </a>
      </ng-container>
      <ng-container *ngIf="currentUser()">
        <a routerLink="/cartridges" title="Jogos" class="text-gray-300 hover:text-white p-2">
          <fa-icon [icon]="iconCart" class="h-6 w-6"></fa-icon>
        </a>
        <a routerLink="/console" title="Configurações" class="text-gray-300 hover:text-white p-2">
          <fa-icon [icon]="iconSettings" class="h-6 w-6"></fa-icon>
        </a>
        <button (click)="logout()" title="Sair" class="text-gray-300 hover:text-white p-2">
          <fa-icon [icon]="iconLogout" class="h-6 w-6"></fa-icon>
        </button>
      </ng-container>
    </div>
  </nav>
</header>