@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
  background-color: #1a1a1a; /* Um cinza um pouco mais escuro para o fundo base */
  color: #FFFFFF; /* Texto branco para contraste */
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  /* Halftone Background Effect - Grid Pattern */
  --dot-color: rgba(255, 255, 255, 0.423); /* Cor dos pontos (branco bem sutil) */
  --dot-size: 3%; /* Tamanho de cada ponto */
  --dot-spacing: 1.65rem; /* Espaçamento entre os pontos */

  /* Apenas um radial-gradient é necessário para um padrão de grade simples */
  background-image: radial-gradient(circle at center, var(--dot-color) var(--dot-size), transparent var(--dot-size));
  background-size: var(--dot-spacing) var(--dot-spacing);
  /* background-position não é necessário ou pode ser 0 0 para alinhar a grade */
}

@layer base {
  body {
    font-family: 'Pixelify Sans', sans-serif;
  }
}

@layer utilities {
  .pixelify {
    font-family: 'Pixelify Sans', sans-serif;
  }
}
